<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {{ deepdream_parameters_form.csrf_token }}
        {{ deepdream_parameters_form.model }}
        {{ deepdream_parameters_form.strategy }}
        {{ deepdream_parameters_form.strategy_params }}
        {{ deepdream_parameters_form.run_deepdream }}
    </form>

    <form method="POST" action="{{ url_for('image_viewer') }}">
        {{ image_viewer_form.csrf_token }}
        {{ image_viewer_form.previous }}
        {{ image_viewer_form.next }}
    </form>


    <!-- Display the current image -->
    <div class="image-container">
        <img src="data:image/png;base64,{{ current_image }}" alt="Current Image">
    </div>


    <script>
        var model_select = document.getElementById("model");
        var strategy_select = document.getElementById("strategy");
        var strategy_params_select = document.getElementById("strategy_params");

        model_select.onchange = function() {
            fetchData();
        };
        strategy_select.onchange = function() {
            fetchData();
        };

        function fetchData() {
            var model = model_select.value;
            var strategy = strategy_select.value;

            fetch('/strategy_params/' + model + "/" + strategy)
        .then(function(response) {
            response.json().then(function(data) {
                var optionHTML = '';
                for (var param of data.strategy_params) {
                    optionHTML += '<option value="' + param + '">' + param + '</option>';
                }
                strategy_params_select.innerHTML = optionHTML;
            });
        });
        }
        
    </script>
</body>
</html>